<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @exercise.sets %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @exercise.reps %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @exercise.workout_id %>
</p>

<%= link_to 'Edit', edit_workout_exercise_path(@exercise) %> |
<%= link_to 'Back', workout_exercises_path(@workout) %>
